/sublime/User/Package Control.cache/
/sublime/User/Package Control.cache/*
/sublime/User/Package Control.last-run
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.idea
*.cache
*.info
.node-gyp
.apm
storage
compile-cache
blob-store
